node_modules
dist
.env
*.local
*.log
*.pid
*.seed
*.pid.lock
*.tsbuildinfo
coverage
.vite
*.d.ts.map
.DS_Store
Thumbs.db
*.pem
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
out/
release/
electron-builder.yml
